body {
  background-color: black;
  color: white;
  margin: 0;
}

div.browser {
  display: none;
  height: 100vh;
}

div.browser img, div.browser video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.gallery-top {
  margin: 0.2em 0;
}

span.date {
  color: #888;
}

div.mosaic img {
  cursor: pointer;
}
