@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200&subset=latin,latin-ext);

body {
  margin: 0;
  background-color: black;
  color : #ddd;
  font-family : 'Work Sans', sans-serif;
  font-size : 16pt;
}

div.browser {
  display: none;
  height: 100vh;
}

div.browser img, div.browser video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.gallery {
  margin: 0.2em;
}

/*--------------------------------------------------------------------------*/
/*--- top of the gallery ---------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--- the container */

div.gallery-top {
  margin: 0.2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--- date */

span.date {
  color: #888;
}

/*--- navigation elements on the right */

div.nav a {
  display: none;
}

div.nav img {
  width: 1em;
}

div.nav {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

div.nav:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/*--------------------------------------------------------------------------*/
/*--- the gallery ----------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--- container for the gallery mosaic */

div.mosaic img {
  cursor: pointer;
}

/*--------------------------------------------------------------------------*/
/*--- the image browser ----------------------------------------------------*/
/*--------------------------------------------------------------------------*/

span.caption {
  padding: 0.5em;
  background-color: rgba(0,0,0,0.4);
  color: white;
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
